{% set path = '/assets/images/web/'~config.website_skin~'/bands/index_hero/' %}

<header class="header">

    <div id="header_menu_site_logo">
        <a id="header_menu_site_logo_link" class="navbar-brand" href="/" title="Miel Sandonis">
            <img id="header_menu_site_logo_img"
                 src="{{ path }}logo.png"
                 alt="Logo Miel Sandonis" />
        </a>
    </div>

    <button class="menu-btn" id="menu-btn"
            aria-label="Abrir menú de navegación"
            aria-expanded="false"
            aria-controls="nav">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </button>

    <nav class="nav" id="nav" title="Menú Miel Sandonis">
        <a href="/nosotros">Nosotros</a>
        <a href="/conservacion">Conservación</a>
         <a href="/nuestra-miel">Nuestra miel</a>
        {#<a href="/blog">Blog</a>#}
        <a href="/contacto">Contacto</a>
    </nav>

</header>