
#categories_hero {
    background-color: blanchedalmond;
    /*border: solid 1px black;*/
}
#categories_hero_container {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    /*border: solid 1px red;*/
}
#categories_hero_content {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media all and (min-width: 650px) {
}
@media all and (min-width: 900px) {
}
@media all and (min-width: 1200px) {
}