
#contact_thanks_hero_content {
    --hero-left-diff: -50px;
    --hero-left-top-background: cornsilk;
    --hero-left-bottom-background: greenyellow;
    --hero-right-diff: 30px;
    --hero-right-top-background: palevioletred;
    --hero-right-bottom-background: skyblue;
}
#contact_thanks_hero_content {
    display: flex;
    flex-direction: row;
    /*border: solid 1px red;*/
}
#contact_thanks_hero_left {
    width: 50%;
    height: calc( 100vh - var(--header-height) - var(--menu-height) - 10px );
    /*border: solid 1px red;*/
}
#contact_thanks_hero_right {
    width: 50%;
    height: calc( 100vh - var(--header-height) - var(--menu-height) );
    /*border: solid 1px red;*/
}
#contact_thanks_hero_left_top {
    width: 100%;
    height: calc( (( 100vh - var(--header-height) - var(--menu-height) ) / 2 ) + var(--hero-left-diff) );
    background-color: var(--hero-left-top-background);
    /*border: solid 1px blue;*/
}
#contact_thanks_hero_left_bottom {
    width: 100%;
    height: calc( (( 100vh - var(--header-height) - var(--menu-height) ) / 2 ) - var(--hero-left-diff) );
    background-color: var(--hero-left-bottom-background);
    /*border: solid 1px blue;*/
}
#contact_thanks_hero_right_top {
    width: 100%;
    height: calc( (( 100vh - var(--header-height) - var(--menu-height) ) / 2 ) + var(--hero-right-diff) );
    background-color: var(--hero-right-top-background);
    /*border: solid 1px blue;*/
}
#contact_thanks_hero_right_bottom {
    width: 100%;
    height: calc( (( 100vh - var(--header-height) - var(--menu-height) ) / 2 ) - var(--hero-right-diff) );
    background-color: var(--hero-right-bottom-background);
    /*border: solid 1px blue;*/
}
@media all and (width <= 1000px) {
    #contact_thanks_hero_content {
        flex-direction: column;
        /*border: solid 1px red;*/
    }
    #contact_thanks_hero_left {
        width: 100%;
        height: calc( ( 100vh - var(--header-height) - var(--menu-height) - 10px ) * 2 );
    }
    #contact_thanks_hero_right {
        width: 100%;
        height: calc( ( 100vh - var(--header-height) - var(--menu-height) - 10px ) * 2 );
    }
    #contact_thanks_hero_left_top {
        width: 100%;
        height: calc( ( 100vh - var(--header-height) - var(--menu-height) ) );
        background-color: var(--hero-left-top-background);
        /*border: solid 1px blue;*/
    }
    #contact_thanks_hero_left_bottom {
        width: 100%;
        height: calc( ( 100vh - var(--header-height) - var(--menu-height) ) );
        background-color: var(--hero-left-bottom-background);
        /*border: solid 1px blue;*/
    }
    #contact_thanks_hero_right_top {
        width: 100%;
        height: calc( ( 100vh - var(--header-height) - var(--menu-height) ) );
        background-color: var(--hero-right-top-background);
        /*border: solid 1px blue;*/
    }
    #contact_thanks_hero_right_bottom {
        width: 100%;
        height: calc( ( 100vh - var(--header-height) - var(--menu-height) ) );
        background-color: var(--hero-right-bottom-background);
        /*border: solid 1px blue;*/
    }
}
