
.footer-social {
    padding: 0 1.875rem 1.25rem;
}
.footer-social-list {
    display: flex;
    justify-content: center;
    padding-top: 1.25rem;
    list-style: none;
}
.footer-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}