
#footer_contact_form {
    display: flex;
    flex-direction: row;
    /*border: solid 1px red;*/
}
#footer_contact_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: solid 1px green;*/
}
#footer_contact_div {
    width: 90%;
    display: flex;
    flex-direction: column;
    /*border: solid 1px green;*/
}
#footer_contact_left {
    width: 100%;
    padding-right: 10px;
    /*border: solid 1px red;*/
}
#footer_contact_right {
    width: 100%;
    padding-left: 10px;
    background-color: rgba(241, 241, 241, 0.27);
    /*border: solid 1px red;*/
}
.footer_contact_inner {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    /*border: solid 1px green;*/
}
#footer_contact_title {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
}
#footer_contact_text {
    padding: 1px 1px;
}
#footer_contact_text p {
    margin-top: 10px;
    /*border: solid 1px greenyellow;*/
}
#footer_contact_web_info_email {
    text-align: center;
    /*border: solid 1px greenyellow;*/
}
#footer_contact_web_info_email a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: #606060;
}
#footer_contact_web_info_email a:hover {
    text-decoration: underline;
}
#footer_contact_email_icon {
    text-align: center;
}
#footer_contact_email_icon i {
    font-size: 5rem;
}
#footer_contact_email_email {
    /*padding-top: 20px;*/
    /*text-align: center;*/
    /*border: solid 1px greenyellow;*/
}
#footer_contact_phone_phone a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #606060;
}
#footer_contact_phone_icon {
    text-align: center;
}
#footer_contact_phone_icon i {
    font-size: 5rem;
}
#footer_contact_phone_phone {
    padding-top: 20px;
    text-align: center;
    /*border: solid 1px greenyellow;*/
}
#footer_contact_phone_phone a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #606060;
}
.contact_form_input {
    width: 100%;
}
#footer_contact_form_errors {
    display: none;
    padding: 5px;
    background-color: #ffcecb;
    color: red;
    width: fit-content;
}
#footer_contact_form_errors div {
    padding: 10px 40px 10px 5px;
    display: flex;
    flex-direction: row;
}
#footer-contact-form-errors {
    color: red;
    /*border: solid 1px red;*/
}
.input_errors {
    color: red;
    font-size: 0.8em;
    /*display: none;*/
}
.footer-contact-form-item {
    margin-top: 10px;
}
#footer-contact-form-terms {
    margin-top: 30px;
}
#footer-contact-form-terms-text a {
    color: #606060;
    font-weight: bold;
}
#footer-contact-form-submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: solid 1px red;*/
}
#footer_contact_form_submit_button {
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    border: solid 1px rgb(0, 0, 0);
}
#footer_contact_form_submit_button:hover {
    color: rgb(240, 240, 240);
    background-color: rgb(0, 0, 0);
}
#footer_contact_form_submit_sending {
    display: none;
    margin-top: 40px;
    width: 100%;
    min-height: 40px;
    /*display: flex;*/
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
    align-items: center;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 900px) {
    #footer_contact_div {
        width: 95%;
        flex-direction: row;
    }
    #footer_contact_left {
        width: 50%;
        padding-right: 10px;
    }
    #footer_contact_right {
        width: 50%;
        padding-left: 10px;
    }
    #footer_contact_web_info_email a {
        font-size: 1.3rem;
    }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}