#index_percentajes {
    /*border: solid 2px red;*/
}
#index_percentajes_container {
    position: relative;
    min-height: 500px;
}
#index_percentajes_content {
    width: 80%;
    flex-direction: column;
    /*border: solid 1px blue;*/
}
#index_percentajes_wrapper {
    width: 100%;
    flex-direction: column;
    /*border: solid 1px orange;*/
}
#index_percentajes_title {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    white-space: normal;
    /*border: solid 1px blue;*/
}
#index_percentajes_title h2 {
    color: var(--white);
}
#index_percentajes_panels {
    margin: 0.7rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}
.index_percentajes_panel h3{
    font-weight: bold;
}
.index_percentajes_panel_icon {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    /*border: solid 1px red;*/
}
.index_percentajes_panel_ring {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--tertiary-background);
    /*border: solid 1px black;*/
}
.index_percentajes_panel_icon_img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*border: solid 1px red;*/
}
.index_percentajes_panel_number {
    margin: 5px 10px;
    font-size: 6rem;
    font-weight: bold;
    color: var(--white);
}
.index_percentajes_panel_text {
    margin-top: 20px;
    color: var(--white);
}
#index_percentajes_footer_text {
    padding: 10px 10px;
    font-size: 1.37rem;
    color: var(--white);
}
.index_percentajes_footer_text {
    margin-top: 30px;
}
@media (min-width: 900px) {
    .index_percentajes_panel {
        width: 35vw;
    }
}
@media (min-width: 1200px) {
    .index_percentajes_panel {
        width: 20vw;
    }
}
