
#index_video {
    /*border: solid 1px black;*/
}
#index_video_container {
    min-height: 200px;
    /*border: solid 1px blue;*/
}
#index_video_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: solid 1px red;*/
}
#videoDiv2 {
    width: 100%;
    /*max-width:1200px;*/
    margin:auto;
    display:block;
    position: relative;
    /*border: solid 1px green;*/
}
#video2{
    width:100%;
    height:auto;
}
#videoMessage2 {
    width: 50%;
    height: 40%;
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*border: solid 1px green;*/
}
#videoMessage2 h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #313721;
}
#videoMessage2 p {
    font-size: 2rem;
    font-weight: bold;
    color: #f8f8f8;
}
#videoMessage2 a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: #a8c056;
}
/*
.background-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.page-hero {
    position: relative;
    overflow: hidden;
}

.background-video-content {
    position: relative;
    z-index: 1;
}

video[poster] {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
*/
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 831px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

