
#index_testimonials {
}
#index_testimonials_container {
}
#index_testimonials_content {
    flex-direction: column;
    /*background-color: var(--tertiary-background);*/
}
#index_testimonials_wrapper {
    width: 80%;
    border: solid 1px red;
}
#index_testimonials_title {
}
#index_testimonials_reviews {
}
#index_testimonials_reviews_text {
}
#index_testimonials_reviews_stars {
}
#index_testimonials_panels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.index_testimonials_panel {
    margin: 10px 10px;
    padding: 20px;
    width: 30%;
    border-radius: var(--box-border-radius);
    border: solid 1px var(--primary-color);
}
.index_testimonials_panel_name {
}
.index_testimonials_panel_text {
}
#index_testimonials_texts {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: bold;
    /*border: solid 1px red;*/
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 831px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

