#sectors_list {
}
#sectors_list_container {
}
#sectors_list_content {
    flex-direction: column;
    /*border: solid 1px blue;*/
}
#sectors_list_wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    /*border: solid 1px orange;*/
}
#sectors_list_title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    white-space: normal;
    /*border: solid 1px blue;*/
}
#sectors_list_bottom {
}
#sectors_list_panels {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
#sectors_list_panels a {
    text-decoration: none;
}
.sectors_list_panel {
    width: 85vw;
    margin: 0.7rem;
    padding: 1rem;
    background-color: var(--white);
    border-top: solid 0.1rem var(--primary-color);
    border-right: solid 0.1rem var(--primary-color);
    border-bottom: solid 0.1rem var(--primary-color);
    border-left: solid 0.5rem var(--highlight-color);
    border-radius: var(--box-border-radius);
}
.sectors_list_panel_icon {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    /*border: solid 1px red;*/
}
.sectors_list_panel_ring {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--tertiary-background);
    border: solid 1px black;
}
.sectors_list_panel_icon_img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*border: solid 1px red;*/
}
.sectors_list_panel_title {
    margin: 20px 0 10px 0;
    font-size: 1.37rem;
    font-weight: bold;
    color: var(--highlight-color);
}
.sectors_list_panel_text {
    color: var(--secondary-color);
}
#sectors_list_footer_text {
    padding: 10px 10px;
    font-size: 1.1rem;
    color: var(--secondary-color);
}
@media (min-width: 900px) {
    .sectors_list_panel {
        width: 35vw;
    }
}
@media (min-width: 1200px) {
    .sectors_list_panel {
        width: 18vw;
    }
}






/*#sectors_list {*/
/*}*/
/*    !*border: solid 1px black;*!*/
/*}*/
/*#sectors_list_container {*/
/*}*/
/*#sectors_list_content {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    !*border: solid 1px blue;*!*/
/*}*/
/*#sector_list {*/
/*    width: 100%;*/
/*    padding: 20px 10px 20px 10px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    !*border: solid 1px green;*!*/
/*}*/
/*.sector_item {*/
/*    margin: 10px 10px;*/
/*    padding: 20px 10px 20px 10px;*/
/*    width: 200px;*/
/*    height: 230px;*/
/*    !*border: solid 1px #0000ff;*!*/
/*    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);*/
/*    border-radius: 5px;*/
/*    background-color: white;*/
/*}*/
/*.sector_item:hover {*/
/*    cursor: pointer;*/
/*}*/
/*.sector_item_picture {*/
/*    width: 100%;*/
/*    height: 125px;*/
/*}*/
/*.sector_item_name {*/
/*    height: 70px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*    !*border: solid 1px green;*!*/
/*}*/
/*@media all and (min-width: 650px) {*/
/*}*/
/*@media all and (min-width: 900px) {*/
/*    #sector_list {*/
/*        width: 80%;*/
/*        padding: 20px 10px 20px 10px;*/
/*    }*/
/*}*/
/*@media all and (min-width: 1200px) {*/
/*}*/