
#solutions_pack {
}
#solutions_pack_container {
}
#solutions_pack_content {
    flex-direction: column;
    /*border: solid 1px black;*/
}
#solutions_pack_wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    /*border: solid 1px red;*/
}
#solutions_pack_title {
    /*border: solid 1px black;*/
}
#solutions_pack_panels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    /*border: solid 1px blue;*/
}
.solutions_pack_panel {
    width: 85vw;
    margin: 0.7rem;
    padding: 1rem;
    text-decoration: none;
    background-color: var(--white);
    /*border-top: solid 0.1rem var(--primary-color);*/
    /*border-right: solid 0.1rem var(--primary-color);*/
    /*border-bottom: solid 0.1rem var(--primary-color);*/
    border-left: solid 0.3rem var(--highlight-color);
    border-radius: var(--box-border-radius);
}
.solutions_pack_panel_title {
    margin: 10px 0 15px 0;
    color: var(--highlight-color);
    text-decoration: none;
    font-size: 1.37rem;
    font-weight: bold;
}
.solutions_pack_panel_explain {
    color: var(--primary-color);
}
#solutions_pack_footer {
    margin: 30px 0;
}
#solutions_pack_footer_title {
    margin: 15px 0;
    font-size: 2rem;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 900px) {
    .solutions_pack_panel {
        width: 35vw;
    }
}
@media only screen and (min-width: 1200px) {
    .solutions_pack_panel {
        width: 20vw;
    }
}
@media only screen and (min-width: 1400px) {
}