
#solution_invoices_benefits {
}
#solution_invoices_benefits_container {
    background-color: var(--highlight-color);
}
#solution_invoices_benefits_content {
    flex-direction: column;
    /*border: solid 1px blue;*/
}
#solution_invoices_benefits_wrapper {
    width: 80%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    /*border: solid 1px orange;*/
}
#solution_invoices_benefits_title {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    white-space: normal;
    /*border: solid 1px blue;*/
}
#solution_invoices_benefits_title h2 {
    color: var(--white);
}
#solution_invoices_benefits_bottom {
}
#solution_invoices_benefits_panels {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
.solution_invoices_benefits_panel {
    width: 85vw;
    margin: 0.7rem;
    padding: 1rem;
    /*background-color: var(--white);*/
    border-top: solid 0.1rem var(--white);
    border-right: solid 0.1rem var(--white);
    border-bottom: solid 0.1rem var(--white);
    border-left: solid 0.5rem var(--white);
    border-radius: var(--box-border-radius);
}
.solution_invoices_benefits_panel_icon {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    /*border: solid 1px red;*/
}
.solution_invoices_benefits_panel_ring {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--tertiary-background);
    border: solid 1px black;
}
.solution_invoices_benefits_panel_icon_img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*border: solid 1px red;*/
}
.solution_invoices_benefits_panel_title {
    margin: 20px 0 10px 0;
    font-size: 1.37rem;
    font-weight: bold;
    color: var(--white);
}
.solution_invoices_benefits_panel_text {
    color: var(--white);
}
@media (min-width: 900px) {
    .solution_invoices_benefits_panel {
        width: 35vw;
    }
}
@media (min-width: 1200px) {
    .solution_invoices_benefits_panel {
        width: 20vw;
    }
}
