#solution_hero {
}
#solution_hero_container {
}
#solution_hero_content {
    flex-direction: column;
    position: relative;
    z-index: 10;
    overflow: hidden;
    /*border: solid 1px blue;*/
}
#solution_hero_wrapper {
    width: 98%;
    flex-direction: column;
    /*border: solid 1px orange;*/
}
#solution_hero_left {
    /*width: 100%;*/
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    white-space: normal;
    /*border: solid 1px red;*/
}
#solution_hero_left h1 {
    color: var(--highlight-color);
}
#solution_hero_left p {
    color: var(--secondary-color);
}
#solution_hero_buttons {
    /*width: 100%;*/
    margin: 30px 0;
    /*border: solid 1px blue;*/
}
#solution_hero_right {
    /*margin-left: 20px;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: solid 1px red;*/
}
#solution_hero_right img {
    width: 310px;
    height: auto;
    /*border: solid 1px green;*/
}
#solution_hero_content::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%; /* Ajusta el ancho de la forma */
    height: 70%; /* Ajusta la altura de la forma */
    background: var(--secondary-background);
    transform: skewY(-15deg); /* Inclinación de la forma */
    transform-origin: bottom right;
    z-index: -20;
    opacity: 0.5;
}
#solution_hero_content::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40%;
    background-color: var(--tertiary-background);
    transform: skewY(-10deg);
    transform-origin: bottom right;
    z-index: -10;
    opacity: 0.7;
}
@media (min-width: 600px) {
    #solution_hero_right img {
        width: 590px;
        height: auto;
    }
}
@media (min-width: 900px) {
    #solution_hero_content {
        width: 98%;
        margin-left: 0;
        flex-direction: row;
        z-index: 10;
    }
    #solution_hero_wrapper {
        /*width: 98%;*/
        /*margin-left: 0;*/
        /*flex-direction: row;*/
        /*z-index: 10;*/
    }
    #solution_hero_left {
        margin-left: 0;
        /*width: 100%;*/
    }
    #solution_hero_right {
        /*margin-left: 20px;*/
        display: flex;
        align-items: flex-end;
    }
    #solution_hero_right img {
        width: 380px;
        height: auto;
    }
}
@media (min-width: 1200px) {
    #solution_hero_wrapper {
        margin-left: 0;
        flex-direction: row;
        z-index: 10;
        width: 95%;
    }
    #solution_hero_left {
        /*width: 100%;*/
    }
    #solution_hero_buttons {
        width: 80%;
    }
    #solution_hero_right img {
        width: 450px;
        height: auto;
    }
}
@media (min-width: 1400px) {
    #solution_hero_wrapper {
        width: 80%;
    }
    #solution_hero_left {
        /*width: 100%;*/
    }
    #solution_hero_buttons {
        width: 95%;
    }
    #solution_hero_right img {
        width: 600px;
        height: auto;
    }
}
