
#solution_invoices_steps {
}
#solution_invoices_steps_container {
}
#solution_invoices_steps_content {
    margin-bottom: 50px;
    flex-direction: column;
    /*border: solid 1px blue;*/
}
#solution_invoices_steps_wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    /*border: solid 1px orange;*/
}
#solution_invoices_steps_panels {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
.solution_invoices_steps_panel {
    width: 85vw;
    margin: 0.7rem;
    padding: 0.5rem;
    background-color: var(--white);
    border-top: solid 0.1rem var(--primary-color);
    border-right: solid 0.1rem var(--primary-color);
    border-bottom: solid 0.1rem var(--primary-color);
    border-left: solid 0.5rem var(--highlight-color);
    border-radius: var(--box-border-radius);
}
.solution_invoices_steps_panel_title {
    margin: 10px 0;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}
.solution_invoices_steps_panel_text {
    color: var(--secondary-color);
}
@media (min-width: 600px) {
}
@media (min-width: 900px) {
    .solution_invoices_steps_panel {
        width: 35vw;
    }
}
@media (min-width: 1200px) {
    .solution_invoices_steps_panel {
        width: 22vw;
    }
}
@media (min-width: 1400px) {
    .solution_invoices_steps_panel {
        width: 20vw;
    }
}

