
#solution_invoices_explain {
}
#solution_invoices_explain_container {
}
#solution_invoices_explain_content {
    flex-direction: column;
}
#solution_invoices_explaintemplate_title {
    width: 100%;
    text-align: center;
    background-color: var(--white);
}
#solution_invoices_explain_wrapper {
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*border: solid 1px black;*/
}
#solution_invoices_explain_image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: solid 1px red;*/
}
#solution_invoices_explain_image img {
    width: 100%;
    height: 100%;
    display: none;
    border-radius: var(--box-border-radius);
}
#solution_invoices_explain_texts {
    width: 100%;
    padding: 10px 10px 10px 40px;
    /*border: solid 1px blue;*/
}
#solution_invoices_explain_subtext {
    font-size: 1.37rem;
    padding: 5px 0;
    color: var(--primary-color);
}
#solution_invoices_explain_text_p {
    color: var(--secondary-color);
}
@media (min-width: 600px) {
}
@media (min-width: 900px) {
    #solution_invoices_explain_image img {
        display: block;
    }
    #solution_invoices_explain_texts {
        width: 80%;
        padding: 20px 20px 20px 60px;
    }
}
@media (min-width: 1200px) {
    #solution_invoices_explain_wrapper {
        width: 95%;
    }
}
@media (min-width: 1400px) {
    #solution_invoices_explain_wrapper {
        width: 80%;
    }
}


