#solution_invoices_faq {
}
#solution_invoices_faq_container {
    background-color: var(--secondary-background);
}
#solution_invoices_faq_content {
    width: 85%;
    flex-direction: column;
    margin-bottom: 50px;
    /*border: solid 1px black;*/
}
#solution_invoices_faq_title {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*border: solid 1px blue;*/
}
#solution_invoices_faq_band {
    /*max-width: 100%;*/
    /*width: 800px;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*border: solid 1px blue;*/
}
.solution_invoices_faq_band_container {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: solid 1px red;*/
}
.faq_band_content {
    width: 90%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--secondary-color);
    border-radius: var(--box-border-radius);
}
.solution_invoices_faq_band_question {
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.solution_invoices_faq_band_question_text {
    display: flex;
    flex-direction: row;
}
.solution_invoices_faq_band_question_text h3 {
    font-size: 1.37rem;
    font-weight: 500;
}
.faq_band_question_icon {
    display: flex;
    flex-direction: row;
    font-size: 2.5rem;
    font-weight: bold;
    /*border: solid 1px red;*/
}
.faq_band_reply {
    display: none;
    margin: 10px 0 0 10px;
    padding-left: 10px;
}
.faq_band_reply.active {
    display: block;
}

@media all and (min-width: 650px) {
}
@media all and (min-width: 900px) {
    #blog_article_content {
        width: 98%;
    }
}
@media all and (min-width: 1200px) {
    #blog_article_content {
        width: 95%;
    }
}
@media all and (min-width: 1400px) {
    #blog_article_content {
        width: 80%;
    }
}