{% extends 'web/default.html.twig' %}

{% block title %} {{ parent() }} &bull; Not allowed{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 mt-100">

            <div class="row">
                <div class="col-6 mx-auto">
                    <h1>{{ lang.ERR_PAGE_NOT_ALLOWED }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="alert alert-danger">
                        {{ lang.ERR_PAGE_NOT_ALLOWED }}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}