
<section id="categories_hero" class="web_section">
    <div id="categories_hero_container" class="web_container">
        <div id="categories_hero_content" class="web_content">

            Categories Hero

        </div>
    </div>
</section>
