
<section id="contact_thanks_hero" class="web_section">
    <div id="contact_thanks_hero_container" class="web_container">
        <div id="contact_thanks_hero_content" class="web_content">
{#
            <div id="contact_thanks_hero_left">
                <div id="contact_thanks_hero_left_top">
                    Left top
                </div>
                <div id="contact_thanks_hero_left_bottom">
                    Left bottom
                </div>
            </div>
            <div id="contact_thanks_hero_right">
                <div id="contact_thanks_hero_right_top">
                    Right top
                </div>
                <div id="contact_thanks_hero_right_bottom">
                    Right bottom
                </div>
            </div>
#}        &nbsp;
        </div>
    </div>
</section>