
<section id="index_testimonials" class="web_section">
    <div id="index_testimonials_container" class="web_container">
        <div id="index_testimonials_content" class="web_content">

            <div id="index_testimonials_wrapper">

                <div id="index_testimonials_title">
                    {{ lang.WEB_INDEX_TESTIMONIALS_1 | raw }}Que dicen nuestros clientes
                </div>

                <div id="index_testimonials_reviews">
                    <div id="index_testimonials_reviews_text">
                        Reviews: 4.8/5
                    </div>
                    <div id="index_testimonials_reviews_stars">
                        ******
                    </div>
                </div>
                <div id="index_testimonials_panels">

                    <div id="index_testimonials_testimonial_panel_1" class="index_testimonials_panel">
                        <div id="index_testimonials_testimonial_name_1" class="index_testimonials_panel_name">
                            Manuel Guijuelo
                        </div>
                        <div id="index_testimonials_testimonial_text_1" class="index_testimonials_panel_text">
                            Son unos especialistas. Nos analizaron, detectaron varias oportunidades.
                            Nos ofrecieron empezar por la más "sangrante" y ya llevamos varias implementadas.
                            Vale mucho la pena escucharles y hacerles caso.
                        </div>
                    </div>

                    <div id="index_testimonials_testimonial_panel_2" class="index_testimonials_panel">
                        <div id="index_testimonials_testimonial_name_2" class="index_testimonials_panel_name">
                            Luisa Pardo
                        </div>
                        <div id="index_testimonials_testimonial_text_2" class="index_testimonials_panel_text">
                            Si buscas automatizar tu empresa, Altira es la agencia adecuada.
                            Contratamos varias soluciones, y en solo 2 meses conseguimos aumentar la rentabilidad y reducir el tiempo de trabajo de una manera increible.
                            Atención super rapida y profesional.
                        </div>
                    </div>

                    <div id="index_testimonials_testimonial_panel_3" class="index_testimonials_panel">
                        <div id="index_testimonials_testimonial_name_3" class="index_testimonials_panel_name">
                            Maribel Pérez
                        </div>
                        <div id="index_testimonials_testimonial_text_3" class="index_testimonials_panel_text">
                            Tenía a 2 administrativas confirmando las citas del día siguiente.
                            Ahora las tengo dedicadas a tareas más estratégicas.
                            La reducción del gasto ha sido increible.
                            Con sólo un ChatBot con IA he aumentado el beneficio en más de un 20%.
                        </div>
                    </div>

                    <div id="index_testimonials_testimonial_panel_4" class="index_testimonials_panel">
                        <div id="index_testimonials_testimonial_name_4" class="index_testimonials_panel_name">
                            Fernando Alcazar
                        </div>
                        <div id="index_testimonials_testimonial_text_4" class="index_testimonials_panel_text">
                            Son unos profesionales de los que es difícil encontrar.
                            Su honradez es su principal punto fuerte.
                            Nos han demostrado que saben lo que hacen y tienen una experiencia sólida.
                            Están totalmente centrado en la satisfacción de sus clientes, eso se percibe enseguida.
                            Procuran entender a la perfección a su cliente y sus necesidades presentes y futuras.
                            Contamos con Altira como un proveedor esencial para nostros.
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>