{% set path = '/assets/images/web/'~config.website_skin~'/bands/sectors/' %}

{% set solutions =
    [
        { 'slug' : 'a', 'solution_band' : '',
                        'solution_texts' : {
                                            'title' : 'Asistente tareas internas',
                                            'subtitle' : 'Asistente para realizar tareas repetitivas y de bajo valor',
                                            'problem' : 'Puede realizar casi cualquier tarea como analizar respuestas a formularios, escribir emails, cualificar curriculums, detectar sentimiento de emails… ',
                                            'solution' : 'Personalizados con la documentación de tu empresa e integrardo en Slack, Whatsapp... para que tu equipo le pregunte a él las dudas del día a día en lugar de hacerlo a ti, algo muy útil es tener un asistente para el equipo de ventas con todos los enlaces de pago, documentos, detalles de los servicios…',
                                            'image' : 'internal_ai_assistant.png',
                                            }
        },
        { 'slug' : 'b', 'solution_band' : '',
                        'solution_texts' : {
                                            'title' : 'Panel de control de métricas',
                                            'subtitle' : 'Analiza las métricas de tu negocio en tiempo real',
                                            'problem' : 'Las métricas son super importantes en los negocios para tomar decisiones, las empresas pierden mucho tiempo opteniendo datos de Meta, Google, Gmail, ventas...',
                                            'solution' : 'Calculamos todas las métricas de tus sistemas, desde que un visitante hace click en un anuncio o en un contenido orgánico, ratios de seguimiento hasta que la venta se cierra, sacando todos los datos en tiempo real.',
                                            'image' : 'sales_kpi_dashboard.png',
                        }
        },
        { 'slug' : 'b', 'solution_band' : '',
                        'solution_texts' : {
                                            'title' : 'Panel de control de métricas',
                                            'subtitle' : 'Analiza las métricas de tu negocio en tiempo real',
                                            'problem' : 'Las métricas son super importantes en los negocios para tomar decisiones, las empresas pierden mucho tiempo opteniendo datos de Meta, Google, Gmail, ventas...',
                                            'solution' : 'Calculamos todas las métricas de tus sistemas, desde que un visitante hace click en un anuncio o en un contenido orgánico, ratios de seguimiento hasta que la venta se cierra, sacando todos los datos en tiempo real.',
                                            'image' : 'sales_kpi_dashboard.png',
                        }
        },
    ]
%}
{% set sector =
    [
        { 'sector_slug' : 'clínicas-dentales',                   'solutions' : 'a,b' },
        { 'sector_slug' : 'centros-de-estetica',                 'solutions' : 'c,d' },
        { 'sector_slug' : 'gestorias-y-asesorias_fiscales',      'solutions' : '' },
        { 'sector_slug' : 'academias-y-formacion-premium',       'solutions' : '' },
        { 'sector_slug' : 'agencias-de-marketing-y-consultores', 'solutions' : '' },
        { 'sector_slug' : 'veterinarios',                        'solutions' : '' },
        { 'sector_slug' : 'industria',                           'solutions' : '' },
        { 'sector_slug' : 'logistica',                           'solutions' : '' },
        { 'sector_slug' : 'legal',                               'solutions' : '' },
        { 'sector_slug' : 'turismo',                             'solutions' : '' },
        { 'sector_slug' : 'agroalimentario',                     'solutions' : '' },
        { 'sector_slug' : 'marketing',                           'solutions' : '' },
        { 'sector_slug' : 'sanidad',                             'solutions' : '' },
        { 'sector_slug' : 'construccion',                        'solutions' : '' },
        { 'sector_slug' : 'ecommerce',                           'solutions' : '' },
        { 'sector_slug' : 'restauracion',                        'solutions' : '' },
        { 'sector_slug' : 'finanzas',                            'solutions' : 'z,g' },
        { 'sector_slug' : 'inmobiliaria',                        'solutions' : '' },
        { 'sector_slug' : 'automocion',                          'solutions' : '' },
        { 'sector_slug' : 'educacion',                           'solutions' : '' },
    ]
%}

<section id="sector_detail" class="web_section">
    <div id="sector_detail_container" class="web_container">
        <div id="sector_detail_content" class="web_content">

            <div id="sector_detail_wrapper" class="web_wrapper">

                <div id="sector_detail_title">
                    <h2>
                        Esta son la soluciones más comunes de tu sector
                    </h2>
                </div>

                <div id="sector_detail_panels">

                    {% for item in sector %}
                        {% if item.sector_slug == data.sector_slug %}
                            {% if item.solutions != '' %}
                                {% set solutions = item.solutions|split(',') %}
                                {% for solution in solutions  %}
                                    {{ solution }}<br />
                                {% endfor %}
                            {% else %}
                                No hay soluciones
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
</section>