
<section id="solutions_how_can_help" class="web_section">
    <div id="solutions_how_can_help_container" class="web_container">
        <div id="solutions_how_can_help_content" class="web_content">

            <div id="solutions_how_can_help_texts">
                <h2>
                    {{ lang.WEB_SOLUTIONS_HOW_CAN_HELP_1 }} {#¿Qué automatizar?#}
                </h2>
                <p>
                    {{ lang.WEB_SOLUTIONS_HOW_CAN_HELP_2 }} {#Esta es la pregunta más frecuente que uno se hace cuando descubre el mundo de la IA y las Automatizaciones.#}
                </p>
                <p>
                    {{ lang.WEB_SOLUTIONS_HOW_CAN_HELP_3 }} {#Aquí tienes algunos ejemplos prácticos de soluciones que puedes aplicar desde hoy mismo en tu negocio.#}
                </p>
                <p>
                    {{ lang.WEB_SOLUTIONS_HOW_CAN_HELP_4 }} {#Estas son alguna de nuestras soluciones más demandadas.#}
                </p>
            </div>

        </div>
    </div>
</section>