
<section id="solution_phone_agent_bookings" class="web_section">
    <div id="solution_phone_agent_bookings_container" class="web_container">
        <div id="solution_phone_agent_bookings_content" class="web_content">

            <a href="/solution/{{ lang.WEB_SOLUTION_PHONE_AGENT_BOOKINGS_LINK }}" target="_blank">
                Agente telefónico reservas restaurantes, centros de belleza, spas, alojamientos, taxis
            </a>

        </div>
    </div>
</section>