
<section id="solution_phone_agent_no_show" class="web_section">
    <div id="solution_phone_agent_no_show_container" class="web_container">
        <div id="solution_phone_agent_no_show_content" class="web_content">

            <a href="/solution/{{ lang.WEB_SOLUTION_PHONE_AGENT_NO_SHOW_LINK }}" target="_blank">
                Agente telefónico para evitar citas "no-show"
            </a>

        </div>
    </div>
</section>