{% set path = '/assets/images/web/'~config.website_skin~'/bands/solutions/' %}
{% set img_1 = path ~ 'solution_invoices.png' %}


<section id="solution_invoices_explain" class="web_section">
    <div id="solution_invoices_explain_container" class="web_container">
        <div id="solution_invoices_explain_content" class="web_content">

            <div id="solution_invoices_explain_wrapper" class="web_wrapper">

                <div id="solution_invoices_explain_image">
                    <img id="solution_invoices_explain_img"
                         src="{{ img_1 }}"
                         decoding="async"
                         alt="">
                </div>
                <div id="solution_invoices_explain_texts">
                    <div id="solution_invoices_explain_title">
                        <h2>
                            {{ lang.WEB_SOLUTION_INVOICES_EXPLAIN_1 | raw }} {#Cómo funciona#}
                        </h2>
                    </div>
                    <div id="solution_invoices_explain_texts_texts">
                        <div id="solution_invoices_explain_subtext">
                            <h3>
                                {{ lang.WEB_SOLUTION_INVOICES_EXPLAIN_2 | raw }} {#De la foto de la factura al asiento contable, sin fricción.#}
                            </h3>
                        </div>
                        <div id="solution_invoices_explain_text_p">
                            <p>
                                {{ lang.WEB_SOLUTION_INVOICES_EXPLAIN_3 | raw }} {#Tu equipo sigue trabajando como siempre: recibe la factura, hace una foto o reenvía el PDF por WhatsApp o Telegram y se olvida. La automatización detecta la factura, extrae los datos clave y los deja listos en tu software contable, sin portales nuevos ni procesos extra.#}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>