
<section id="solution_personal_assistant" class="web_section">
    <div id="solution_personal_assistant_container" class="web_container">
        <div id="solution_personal_assistant_content" class="web_content">

            <a href="/solution/{{ lang.WEB_SOLUTION_INVOICES_LINK }}" target="_blank">
                Agente asistente personal, organiza citas, envia emails, propuestas comerciales....
            </a>

        </div>
    </div>
</section>