{% set path = '/assets/images/web/'~config.website_skin~'/bands/template/' %}

<section id="template_three" class="web_section">
    <div id="template_three_container" class="web_container">
        <div id="template_three_content" class="web_content">

            <div id="template_three_template_title">
                template_three
            </div>
            
            <div id="template_three_wrapper" class="web_wrapper">
                <div id="template_three_title">
                    <h2>
                        Beneficios de la Automatización de Procesos con IA para tí
                    </h2>
                </div>

                <div id="template_three_panels">
                    <div id="template_three_panel_1" class="template_three_panel">
                        <div id="template_three_panel_1_title" class="template_three_panel_title">
                            Ahorra tiempo y recursos
                        </div>
                        <div id="template_three_panel_1_explain" class="template_three_panel_explain">
                            Liberar a tu equipo de las tareas repetitivas de bajo valor y alto coste.
                            Permite enfocarte en actividades más estratégicas y creativas.
                            Esto no solo ahorra tiempo sino también recursos, el tiempo es dinero.
                        </div>
                    </div>

                    <div id="template_three_panel_2" class="template_three_panel">
                        <div id="template_three_panel_2_title" class="template_three_panel_title">
                            Mayor productividad
                        </div>
                        <div id="template_three_panel_2_explain" class="template_three_panel_explain">
                            La automatización aumenta la eficiencia operativa al acelerar los procesos.
                            Logras una mayor productividad, más tareas en menos tiempo, mejoras el rendimiento de la empresa.
                        </div>
                    </div>

                    <div id="template_three_panel_3" class="template_three_panel">
                        <div id="template_three_panel_3_title" class="template_three_panel_title">
                            Reducción de errores
                        </div>
                        <div id="template_three_panel_3_explain" class="template_three_panel_explain">
                            Minimiza las posibilidades de errores en tareas manuales y repetitivas.
                            Controlas los procesos donde los errores son comunes, aseguras una mayor fiabilidad en los resultados.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>