/* Login */
#hero{
    background: url('/bundles/framework/images/web/default/bg.png') no-repeat; background-size: cover;
    /*min-height: 800px;*/
    height: 87vh;
}
#outer-box{
    /*margin: 170px 0 160px;*/
    color: #333;
    text-align: left;
    background-color: #fff;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 5px;
}
#identification_image {
    width: 80px;
}
#identification-title {
    /*font-family: "Gochi Hand", cursive;*/
    top: 20px;
    color: #000;
    font-size: 28px;
    font-weight: bold;
    /*line-height: 34px;*/
    text-align: right;
}
#identification-title img {
    text-align: left;
}
#login_forgot_pass_div {
    text-align: right;
}
#login_register_div {
}
#login_register_div a {
    width: 100%;
}
.btn-social {
    color: #fff !important;
}

/* Register */
#gdpr {
    padding: 30px 30px 30px 1px;
    color: #333;
    text-align: justify;
    font-size: 0.8rem;
    background-color: #fff;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 900px) {
}
@media (min-width: 992px) {
    #identification-title {
        font-size: 42px;
        text-align: center;
    }
}