{% extends 'app/' ~ config.app_skin ~ '/emails/emailBase.html.twig' %}
{# app/Resources/views/emails/user_de_activate.html.twig #}
{% set email_ref = 'user_de_activate' %}

{% block body %}
<table class="container" width="800" border="0">
    <tr>
        <td style="padding-top:20px;">
            <table width="100%">
                <tr>
                    <td  class="mail_text">
                        {{ lang.MAIL_DE_ACTIVATION_ACCOUNT_SUBJECT | raw }}
                    </td>
                </tr>
                <tr>
                    <td  class="mail_text">
                        {{ lang.MAIL_DE_ACTIVATION_ACCOUNT_TEXT | raw }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}
