{% extends 'app/' ~ config.app_skin ~ '/emails/emailBase.html.twig' %}
{# app/Resources/views/emails/user_activate.html.twig #}
{% set email_ref = 'user_activate' %}

{% block body %}
<table class="container" width="800" border="0" style="border: solid 1px transparent;">
    <tr>
        <td style="padding-top: 20px;">
            <table width="100%" border="0" style="border: solid 1px transparent;">
                <tr>
                    <td class="mail_text">
                        {{ lang.MAIL_ACTIVATION_ALMOST_DONE | raw }}
                    </td>
                </tr>
                <tr>
                    <td class="mail_text">
                        {{ lang.MAIL_ACTIVATION_NEEDED_TEXT | raw }}
                    </td>
                </tr>
                <tr>
                    <td  class="mail_text">
                        <table width="100%">
                            <tr>
                                <td  class="mail_padding_link">
                                    <a href="{{ data.activation_link }}" class="mail_link">
                                        <div class="mail_button">
                                            {{ lang.MAIL_ACTIVATION_LINK_TEXT }}
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}
