#footer_wrap {
    position: fixed;
    bottom: -130px;
    height: 130px;
    width: 100%;
    background-color: #ffffff;
    z-index: 9999;
}
footer {
    position: absolute;
    bottom: 0;
    z-index: 9999;
    position: relative;
    width: 100%;
    /*border: solid 1px red;*/
}
#footer_arrow {
    position: absolute;
    width: 61px;
    height: 23px;
    top: -23px;
    left: 48%;
    border-radius: 5px 5px 0 0;
    background-color: #ccc;
    /*background: url(http://www.placehold.it/61x23) 0 0 no-repeat;*/
    z-index: 9999;
    cursor: pointer;
    text-align: center;
}
.down {
    bottom: -84px !important;
}
.up {
    bottom: 0 !important;
}


