#blog_hero_title {
	/*border: 1px solid red;*/
}
#blog_hero_title_container {
}
#blog_hero_title_content {
	flex-direction: column;
	justify-content: center;
}
#blog_hero_title_title {
	width: 99%;
}
#blog_hero_subtitle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*border: 1px solid blue;*/
}

@media all and (min-width: 600px) {
	#blog_hero_title_title {
		width: 95%;
	}
}
@media all and (min-width: 900px) {
	#blog_hero_title_title {
		width: 90%;
	}
}
@media all and (min-width: 1200px) {
	#blog_hero_title_title {
		width: 80%;
	}
} 